.item-icons {
	display: inline-block;
}
.item-filters {
	padding-bottom: 1em;;
}
.item-filters input[type=radio] {
    display:none; 
    margin:10px;
}
.champ-name {
	text-align: left;
	width:100%;
}
.champion-icon {
	height: 128px;
	width: 128px;
	display: inline-block
}
.item-set {
	margin:10px;
	text-align: left;
}
.item-file {
	margin:10px;
	display: inline-block
}
.available-item-container {
	display: inline-block;
}
/*
.available-item-container {
	text-align:left;
	display: inline-block;
	position: relative;
	height:100px;
}
*/
.available-items .item-icons img {
	width: 50px;
	height: 50px;
}