.item-icons {
	display: inline-block;
	position:relative;
	left:133px;
	top:-240px;
}
.filters {
	padding-bottom: 1em;
	padding:10px;
}
.filters input[type=radio] {
    display:none; 
    margin:10px;
}
.item-filters {
	position: absolute;
	right:20px;
}
.champion-filters {
	position: absolute;
	right:120px;
}
.champ-name {
	text-align: left;
	/*width:100%;*/
}
.champion-icon {
	height: 128px;
	width: 128px;
	display: inline-block;
	position: relative;
	top:-80px;
}
.item-set {
	margin:10px;
	text-align: left;
}
.explanatory-text {
	text-align: left;
}
.masteries-max {
	top:-195px;
	left:140px;
	position:relative;
}

.masteries-max p {
	padding:0;
	margin:0;
	font-size: 16px;
}
.mastery {
	width:32px;
	text-align: center;
	display: inline-block;
	/*float: left;*/
	font-size: 0;
}
.max {
	width:96px;
	text-align: center;
	font-size: 0;
}
/*
.available-item-container {
	display: inline-block;
}
*/
/*
.available-item-container {
	text-align:left;
	display: inline-block;
	position: relative;
	height:100px;
}
*/
.available-items .item-icons img {
	width: 50px;
	height: 50px;
}

.item-file {
	background-color: #c9c9c9;
	margin:10px;
	display: inline-block;
	position:relative;
	left:256px;
	top:-65px;
}

.item-file p {
	text-align: center;
}

.item-file input {
  padding: 5px;
  border: solid 5px #c9c9c9;
  transition: border 0.3s;
}

.item-file input:focus,
.item-file input.focus {
  border: solid 5px #969696;
}

.spell-icon {
	position:relative;
	top:-75px;
	left:-2px;
}