<!DOCTYPE html>
<html lang="en">

<head>

    <script src="js/angular.min.js"></script>
    <script src="js/angular-zeroclipboard.js"></script>
    <script src="js/modules/zeroclipboard.js"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Challenger League</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="ChallengerApp">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="navbar-brand active" data-toggle="tab" href="#challenger-league">Challenger League</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#ultimate-bravery">Ultimate Bravery</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#power-rangers">Power Rangers</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#budget">Budget Builds</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#active">Activated Items</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#team-comp">Team Comp</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container" ng-controller="MainController">

        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="tab-content">
                    <div id="challenger-league" class="tab-pane fade in active">
                        <h1>Welcome to Challenger League!</h1>
                        <div class="explanatory-text">
                            <h2>The Challenges</h2>
                            <h3>Ultimate Bravery</h3>
                            <p>The classic <a href="http://www.ultimate-bravery.com/">ultimate bravery</a> challenge. You're custom item set will be provided, so no need to alt-tab in the middle of the game to find your next item. This alt-tabbing is the leading cause of braves losing their games. Making your way to challenger is no easy task, you'll need to be brave.</p>
                            <h3>Power Rangers</h3>
                            <p>Teamwork is important. There is no better example of this than the Power Rangers, who play as a team and consequently always win. In this challenge you'll play as one of the Power Rangers in order to emulate their team playing skills. You many only build items of a particular colour, and your summoner spells much match closely to that colour as well. Bonus if you also have a skin to match your ranger's colour.</p>
                            <h3>Budget Builds</h3>
                            <p>Due to some careless overspending, you are now on a strict budget. You are only able to summon champions that cost 450 IP and they may not buy any items that cost over 2600 gold in game. A handy set of all possible completed items that you may buy is provided when you accept this challenge. Luckily all forms of boots and jungle items are cheap enough for your budget. Learning to make the most with what you've got is key to climbing the ranks.</p>
                            <h3>Activated Items</h3>
                            <p>The game as it stands is too simple. Most of the time you can get away with only pressing a couple different buttons throughout an entire match. How hard is that? Lets up the difficulty by only allowing items that have an active ability. With all of this dexterity practice, you'll make it to Challenger in no time! Buying boots is acceptable, but if you are feeling particularly hardcore, opt out on that purchase.</p>
                            <h3>Team Composition Challenges</h3>
                            <p>Not getting along with teammates can drastically hurt your performance. These challenges provide you with groups of champions that are guaranteed to work well together. Playing with these team compositions will help make your games more enjoyable.</p>
                        </div>
                    </div>
                    <div id="ultimate-bravery" class="tab-pane fade">
                        <div>
                            <div class="text-center">
                                <button type="button" class="btn btn-danger" ng-click="itemSetData=buildRandomItemSet(filters)">
                                    MAKE ME BRAVE
                                </button>
                                
                            </div>
                        </div>

                        <div class="col-md-3 filters">
                            <div class="item-filters">
                                <div class="btn-group-vertical" data-toggle="buttons">
                                    <h4>Items</h4>
                                    <label class="btn btn-primary active" ng-click="setFilter('all')"><input type="radio" name="optradio">All</label>
                                    <label class="btn btn-primary" ng-click="setFilter('red')"><input type="radio" name="optradio">Red</label>
                                    <label class="btn btn-primary" ng-click="setFilter('blue')"><input type="radio" name="optradio">Blue</label>
                                    <label class="btn btn-primary" ng-click="setFilter('yellow')"><input type="radio" name="optradio">Yellow</label>
                                    <label class="btn btn-primary" ng-click="setFilter('green')"><input type="radio" name="optradio">Green</label>
                                    <label class="btn btn-primary" ng-click="setFilter('white')"><input type="radio" name="optradio">White</label>
                                    <label class="btn btn-primary" ng-click="setFilter('purple')"><input type="radio" name="optradio">Purple</label>
                                    <label class="btn btn-primary" ng-click="setFilter('budget')"><input type="radio" name="optradio">Cheap</label>
                                    <label class="btn btn-primary" ng-click="setFilter('active')"><input type="radio" name="optradio">Active</label>
                                </div>
                            </div>
                            <div class="champion-filters">
                                <div class="btn-group-vertical" data-toggle="buttons">
                                    <h4>Champions</h4>
                                    <label class="btn btn-primary active" ng-click="setChampFilter('all')"><input type="radio" name="optradio">All</label>
                                    <label class="btn btn-primary" ng-click="setChampFilter('yordle')"><input type="radio" name="optradio">Yordle</label>
                                    <label class="btn btn-primary" ng-click="setChampFilter('freljord')"><input type="radio" name="optradio">Freljord</label>
                                    <label class="btn btn-primary" ng-click="setChampFilter('demacia')"><input type="radio" name="optradio">Demacia</label>
                                    <label class="btn btn-primary" ng-click="setChampFilter('noxus')"><input type="radio" name="optradio">Noxus</label>
                                    <label class="btn btn-primary" ng-click="setChampFilter('bilgewater')"><input type="radio" name="optradio">Bilgewater</label>
                                    <label class="btn btn-primary" ng-click="setChampFilter('ionia')"><input type="radio" name="optradio">Ionia</label>
                                    <label class="btn btn-primary" ng-click="setChampFilter('zaun')"><input type="radio" name="optradio">Zaun</label>
                                    <label class="btn btn-primary" ng-click="setChampFilter('piltover')"><input type="radio" name="optradio">Piltover</label>
                                    <label class="btn btn-primary" ng-click="setChampFilter('void')"><input type="radio" name="optradio">Void</label>
                                    <label class="btn btn-primary" ng-click="setChampFilter('ninja')"><input type="radio" name="optradio">Ninja</label>
                                    <label class="btn btn-primary" ng-click="setChampFilter('transformer')"><input type="radio" name="optradio">Transformer</label>
                                    <label class="btn btn-primary" ng-click="setChampFilter('zodiac')"><input type="radio" name="optradio">Zodiac</label>
                                    <label class="btn btn-primary" ng-click="setChampFilter('deathless')"><input type="radio" name="optradio">Deathless</label>
                                    <label class="btn btn-primary" ng-click="setChampFilter('animals')"><input type="radio" name="optradio">Animals</label>
                                    <label class="btn btn-primary" ng-click="setChampFilter('traps')"><input type="radio" name="optradio">Traps</label>
                                    <label class="btn btn-primary" ng-click="setChampFilter('medic')"><input type="radio" name="optradio">Medic</label>
                                    <label class="btn btn-primary" ng-click="setChampFilter('resets')"><input type="radio" name="optradio">Resets</label>
                                    <label class="btn btn-primary" ng-click="setChampFilter('jumpers')"><input type="radio" name="optradio">Jumpers</label>
                                    <label class="btn btn-primary" ng-click="setChampFilter('budget')"><input type="radio" name="optradio">Cheap</label>
                                    <label class="btn btn-primary" ng-click="setChampFilter('stealth')"><input type="radio" name="optradio">Stealth</label>
                                </div>
                            </div>
                        </div>
                        <item-set data=itemSetData></item-set>
                    </div>
                    <div id="power-rangers" class="tab-pane fade">
                        <div class="available-items">
                            <div class="button-row">
                                <button type="button" class="btn btn-danger" ng-click="buildRangerItemSet()">
                                    Power Ranger Solo
                                </button>
                                <button type="button" class="btn btn-danger" ng-click="buildRangerItemSets()">
                                    Power Ranger Team
                                </button>
                            </div>
                            <items-available data=rangerItems range-fn=range></items-available>
                            <div ng-repeat="itemData in teamRangerItems">
                                <items-available data=itemData range-fn=range></items-available>
                            </div>
                        </div>
                    </div>
                    <div id="budget" class="tab-pane fade">
                        <div class="available-items">
                            <div class="button-row">
                                <button type="button" class="btn btn-danger" ng-click="buildBudgetItemSet()">
                                    Low Budget Champion
                                </button>
                                <button type="button" class="btn btn-danger" ng-click="buildBudgetItemSets()">
                                    Low Budget Team
                                </button>
                            </div>
                            <items-available data=budgetItems range-fn=range></items-available>
                            <div ng-repeat="itemData in teamBudgetItems">
                                <items-available data=itemData range-fn=range></items-available>
                            </div>
                        </div>
                    </div>
                    <div id="active" class="tab-pane fade">
                        <div class="available-items">
                            <div class="button-row">
                                <button type="button" class="btn btn-danger" ng-click="buildActiveItemSet()">
                                    Solo Challenge
                                </button>
                                <button type="button" class="btn btn-danger" ng-click="buildActiveItemSets()">
                                    Team Challenge
                                </button>
                            </div>
                            <items-available data=activeItems range-fn=range></items-available>
                            <div ng-repeat="itemData in teamActiveItems">
                                <items-available data=itemData range-fn=range></items-available>
                            </div>
                        </div>
                    </div>
                    <div id="team-comp" class="tab-pane fade">
                        <div class="team-comp">
                            <div class="team-comp-champion-filters">
                                <div class="btn-group"  data-toggle="buttons">
                                    <label class="btn btn-primary" ng-click="setChampFilter('yordle')"><input type="radio" name="optradio">Yordle</label>
                                    <label class="btn btn-primary" ng-click="setChampFilter('freljord')"><input type="radio" name="optradio">Freljord</label>
                                    <label class="btn btn-primary" ng-click="setChampFilter('demacia')"><input type="radio" name="optradio">Demacia</label>
                                    <label class="btn btn-primary" ng-click="setChampFilter('noxus')"><input type="radio" name="optradio">Noxus</label>
                                    <label class="btn btn-primary" ng-click="setChampFilter('bilgewater')"><input type="radio" name="optradio">Bilgewater</label>
                                    <label class="btn btn-primary" ng-click="setChampFilter('ionia')"><input type="radio" name="optradio">Ionia</label>
                                    <label class="btn btn-primary" ng-click="setChampFilter('zaun')"><input type="radio" name="optradio">Zaun</label>
                                    <label class="btn btn-primary" ng-click="setChampFilter('piltover')"><input type="radio" name="optradio">Piltover</label>
                                    <label class="btn btn-primary" ng-click="setChampFilter('void')"><input type="radio" name="optradio">Void</label>
                                    <label class="btn btn-primary" ng-click="setChampFilter('ninja')"><input type="radio" name="optradio">Ninja</label>
                                    <label class="btn btn-primary" ng-click="setChampFilter('transformer')"><input type="radio" name="optradio">Transformer</label>
                                    <label class="btn btn-primary" ng-click="setChampFilter('zodiac')"><input type="radio" name="optradio">Zodiac</label>
                                    <label class="btn btn-primary" ng-click="setChampFilter('deathless')"><input type="radio" name="optradio">Deathless</label>
                                    <label class="btn btn-primary" ng-click="setChampFilter('animals')"><input type="radio" name="optradio">Animals</label>
                                    <label class="btn btn-primary" ng-click="setChampFilter('traps')"><input type="radio" name="optradio">Traps</label>
                                    <label class="btn btn-primary" ng-click="setChampFilter('medic')"><input type="radio" name="optradio">Medic</label>
                                    <label class="btn btn-primary" ng-click="setChampFilter('resets')"><input type="radio" name="optradio">Resets</label>
                                    <label class="btn btn-primary" ng-click="setChampFilter('jumpers')"><input type="radio" name="optradio">Jumpers</label>
                                    <label class="btn btn-primary" ng-click="setChampFilter('budget')"><input type="radio" name="optradio">Cheap</label>
                                    <label class="btn btn-primary" ng-click="setChampFilter('stealth')"><input type="radio" name="optradio">Stealth</label>
                                </div>
                            </div>
                            <div class="team-comp-description">
                                <h2>{{teamCompDescription}}</h2>
                            </div>
                            <div class="team-comp-icons">
                                <div ng-repeat="index in range(teamCompChampions.length/4)">
                                    <div class="team-comp-icons-row" ng-repeat="champ in teamCompChampions.slice(index*4, (index+1)*4)">
                                        <img ng-src="{{championImage(champ.image_name)}}" title="{{champ.name}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/MainController.js"></script>

    <!-- Directives -->
    <script src="js/directives/itemSet.js"></script>
    <script src="js/directives/itemsAvailable.js"></script>

    <!-- Services -->
    <!--<script src="js/services/itemData.js"></script>-->

    <!-- Item Data -->
    <script type="text/javascript" src="data/items.json"></script>

</body>

</html>
