<div class="item-set pull-left" ng-if="data != null">
	<div class="champ-name">
		<h2>{{data.title}}</h2>
		<h2>{{data.champion.name}}</h2>
	</div>
	<div class="item-file">
		<p>Copy Item Set Here</p>
		<input id="copy-button" onfocus="this.select();" onmouseup="return false;" readonly="readonly" value="{{data.file}}">
	</div>
	<div>
		<div>
			<img class="champion-icon" ng-src="{{data.champion.icon}}" title="{{data.champion.name}}">
			<div class="spell-icon">
				<img ng-src="{{data.spells[0].icon}}" title="{{data.spells[0].name}}">
				<img ng-src="{{data.spells[1].icon}}" title="{{data.spells[1].name}}">
			</div>
		</div>
		<div class="item-icons" ng-repeat="item in data.items">
			<img ng-src="{{item.icon}}" title="{{item.name}}">
		</div>
	</div>
	<div class="masteries-max">
		<div class="masteries">
			<p class="mastery" style="background-color:red; color:white">{{data.masteries[0]}}</p
			><p class="mastery" style="background-color:blue; color:white">{{data.masteries[1]}}</p
			><p class="mastery" style="background-color:green; color:white">{{data.masteries[2]}}</p
		></div>
		<div class="max">
			<p style="background-color:black; color:white">Max {{data.max}} First</p
		></div>
	</div>
</div>