<div class="item-set" ng-if="data != null">
	<div class="champ-name">
		<h2>{{data.title}}</h2>
		<h2>{{data.champion.name}}</h2>
	</div>
	<div class="item-file">
		<p>Copy Item Set Here</p>
		<input onfocus="this.select();" onmouseup="return false;" readonly="readonly" value="{{data.file}}">
	</div>
	<div class="info-container">
		<img class="champion-icon" ng-src="{{data.champion.icon}}" title="{{data.champion.name}}">
		<div class="spell-icon">
			<img ng-src="{{data.spells[0].icon}}" title="{{data.spells[0].name}}">
			<img ng-src="{{data.spells[1].icon}}" title="{{data.spells[1].name}}">
		</div>
		<div class="available-item-container">
			<div ng-repeat="index in rangeFn(data.items.length/16)">
				<div class="item-icons" ng-repeat="item in data.items.slice(index*16, (index+1)*16)">
					<img ng-src="{{item.icon}}" title="{{item.name}}">
				</div>
			</div>
		</div>


	</div>	
</div>